{{ '{% extends "' ~ layout ~ '" %}' }}
{% if theme == '' %}
{{ "{% form_theme edit_form 'AlesteGeneratorBundle:widget:fields.html.twig' %}" }}
{% else %}
{{ "{% form_theme edit_form '"~ theme ~"' %}" }}
{% endif %}

{{ '{% block title %}' ~ "{{ '%entity% edit'|trans({'%entity%': '"~ entity ~"'}, 'admin') }}" ~ '{% endblock %}' }}

{{ '{% block ' ~ bodyBlock ~ ' %}' }}

<div class="well well-sm bs-component col-lg-6">
  <legend>{{ "{{ '%entity% edit'|trans({'%entity%': '"~ entity ~"'}, 'admin') }}" }}</legend>
    <form action="{{ "{{ path('"~ route_name_prefix ~"_update', {id: "~ entity|lower ~".id}) }}" }}" method="post" {{ "{{ form_enctype(edit_form) }}" }}>
        {{ "{{ form_widget(edit_form) }}" }}
        <p>
            <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> {{ "{{ 'Save'|trans({}, 'admin') }}" }}</button>
        </p>
    </form>

    {% set hide_edit, hide_delete = true, false %}
    {% include 'crud/views/others/record_actions.html.twig.twig' %}
  </div>

{{ '{% endblock %}' }}
