{{ '{% extends "' ~ layout ~ '" %}' }}
{% if theme %}

{{ "{% form_theme edit_form '"~ theme ~"' %}" }}
{% endif %}

{{ '{% block title %}' ~ "{{ '%entity% edit'|trans({'%entity%': '"~ entity ~"'}, 'admin') }}" ~ '{% endblock %}' }}

{{ '{% block ' ~ bodyBlock ~ ' %}' }}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ "{{ '%entity% edit'|trans({'%entity%': '"~ entity ~"'}, 'admin') }}" }}</h3>
  </div>
  <div class="panel-body">
   {{ "{% form_theme edit_form 'AlesteGeneratorBundle:widget:fields.html.twig' %}" }}
        <form action="{{ "{{ path('"~ route_name_prefix ~"_update', {id: "~ entity|lower ~".id}) }}" }}" method="post" {{ "{{ form_enctype(edit_form) }}" }}>
        {{ "{{ form_widget(edit_form) }}" }}
        <p>
            <button class="btn btn-primary" type="submit"><i class="fa fa-edit"></i> {{ "{{ 'Save'|trans({}, 'admin') }}" }}</button>
        </p>
    </form>

    {% set hide_edit, hide_delete = true, false %}
    {% include 'crud/views/others/record_actions.html.twig.twig' %}
  </div>
</div>

{{ '{% endblock %}' }}
