{{ '{% extends "' ~ layout ~ '" %}' }}
{% if theme == '' %}
{{ "{% form_theme form 'AlesteGeneratorBundle:widget:fields.html.twig' %}" }}
{% else %}
{{ "{% form_theme form '"~ theme ~"' %}" }}
{% endif %}

{{ '{% block title %}' ~ "{{ '%entity% creation'|trans({'%entity%': '"~ entity ~"'}, 'admin') }}" ~ '{% endblock %}' }}

{{ '{% block ' ~ bodyBlock ~ ' %}' }}

<div class="well well-sm bs-component col-lg-6">
<legend>{{ "{{ '%entity% creation'|trans({'%entity%': '"~ entity ~"'}, 'admin') }}" }}</legend>

    <form action="{{ "{{ path('"~ route_name_prefix ~"_create') }}" }}" method="post" {{ "{{ form_enctype(form) }}" }}>
        {{ "{{ form_widget(form) }}" }}
        <p>
            <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> {{ "{{ 'Save'|trans({}, 'admin') }}" }}</button>
        </p>
    </form>

    {% set hide_edit, hide_delete = true, true %}
    {% include 'crud/views/others/record_actions.html.twig.twig' %}
  </div>

{{ '{% endblock %}' }}